fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
Pillow
opencv-python
numpy
scikit-learn
PyPDF2
pymupdf
dropbox
requests
openai
opencv-python-headless
typing-extensions
psycopg2-binary
python-dotenv